{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'style.css' %}" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<body class="bg-dark">
    <div>
        <h3 class="text-center text-red pt-1">Wrong Username or Password</h3>
        <h3 class="text-center text-white pt-1">Try Again</h3>
        <div class=row>
            <div  class="col-md-5">
            
            </div>
            <div class="col">
                <form action="login" >
                    <button type="Submit" class="btn btn-info btn-md">Login Again</button>
                </form>
            </div>
        </div>
    </div>
</body>


{% endblock %}