{% extends 'base.html' %}
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<h3 class="text-center">Successfully Loged in</h3>
<body>
    <div class="container">
        

        <div class="row">
        <div class="col">
            <form action="addprod">
                Add product <br> <input type="submit"><br>
            </form>
        </div>
        
        <div class="col">
            <form action="sell">
                Sell <br> <input type="submit"><br>
            </form>
        </div>
        
        <div class="col">
            <form action="check_inv">
                Check Inventory <br> <input type="submit"><br>
            </form>
        </div>
        <div class="col">
            <form action="balance">
                See Balance Sheet <br> <input type="submit"><br>
            </form>
        </div>
        </div>
        
        
    </div>  

</body>
{% endblock %}