{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<h3>Successfully Loged in</h3>
<body>
    <div class="container">
        <form action="">

            <div class="row">
            <div class="col">
                Add product <br> <input type="submit" name="addprod"><br>
            </div>
            <div class="col">
                Sell <br> <input type="submit" name="sell"><br>
            </div>
            <div class="col">
                Check Inventory <br> <input type="submit" name="check_inv"><br>
            </div>
            <div class="col">
                See Balance Sheet <br> <input type="submit" name="addprod"><br>
            </div>
            </div>
        
        </form>
    </div>  

</body>
{% endblock %}