{% extends 'base.html' %}
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<table class="table table-success table-striped">
    
    <thead>
        <tr>
            <th scope="col"> + </th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for prod in list %}
            <tr>
                <th scope="row">Cash</th>
                <td>${{prod.cash}}</td>
            </tr>
            <tr>
                <th scope="row">Profit</th>
                <td>${{prod.profit}}</td>
            </tr>
            <tr>
                <th scope="row">Inventory value</th>
                <td>${{prod.inventory_value}}</td>
            </tr>
            <tr>
                <th scope="col">Total Purchased</th>
                <td>${{prod.total_purchases}}</td>
            </tr>
            <tr>
                <th scope="col">Total Sales</th>
                <td>${{prod.total_sales}}</td>

            </tr>

        {% endfor %}
      

    </tbody>
</table>

<div class="col">
    <form action="home">
        <br> <button type="Submit" class="btn btn-info btn-md">Home</button><br>
    </form>
</div>
{% endblock %}