{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'style.css' %}" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body class="bg-dark"></body>
<table class="table table-success table-striped">
    
    <thead>
        <tr>
            
            <th scope="col">id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Purchased Price</th>
            <th scope="col">Selling Price</th>
        </tr>
    </thead>
    <tbody>
        {% for prod in prods %}
            <tr>
                <th scope="row">{{prod.id}}</th>
                <td>{{prod.name}}</td>
                <td>{{prod.amount}}</td>
                <td>${{prod.purchase_price}}</td>
                <td>${{prod.sale_price}}</td>
            </tr>
        {%  endfor %}
      <tr>

    </tbody>
</table>

<div class="col">
    <form action="home">
        <br> <button type="Submit" class="btn btn-info btn-md">Home</button><br>
    </form>
</div>
{% endblock %}