{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'style.css' %}" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h3 class="text-center text-info">Select New/Existing Product</h3>
<h3 class="text-center text-white">Which one?</h3>
<h3 class="text-center text-white">Choose</h3>
<body class="bg-dark">
    <div></div>
    <div class="container">
        

        <div class="row">
        <div  class="col-md-2">
            
        </div>
        <div class="col">
            <form action="oldprod">
                <br> <button type="Submit" class="btn btn-info btn-md">Existing Product</button><br>
            </form>
        </div>
        
        <div class="col">
            <form action="newprod">
                <br> <button type="Submit" class="btn btn-info btn-md">New Product</button><br>
            </form>
        </div>
        
        
        
    </div>  

</body>
{% endblock %}