Saales
{% extends 'base.html' %}
{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>





<body>
    
    
    <div class="container">
        <div  class="row">
            <div class="col">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="addsales" method="post">
                        {% csrf_token %}
                        <h3 class="text-center text-info">Register purchases</h3>
                        <div class="form-group">
                            <label for="product_id" class="text-info">Product ID:</label><br>
                            <input type="text" name="product_id" class="form-control">
                        </div>
                        
                        <div class="form-group">
                            <label for="amount" class="text-info">Amount:</label><br>
                            <input type="text" name="amount" class="form-control">
                        </div>
                        
                        <div class="form-group">
                            <br> <button type="Submit" class="btn btn-info btn-md">Add</button><br>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col">
                <table class="table table-success table-striped">
    
                    <thead>
                        <tr>
                            
                            <th scope="col">id</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Selling Price</th>
                            <th scope="col">Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <tr>
                                <th scope="row">{{prod.id}}</th>
                                <td>{{prod.name}}</td>
                                <td>{{prod.amount}}</td>
                                <td>${{prod.purchase_price}}</td>
                                <td>${{prod.sale_price}}</td>
                            </tr>
                        
                      <tr>
                
                    </tbody>
                </table>
                <div class="col">
                    <form action="home">
                        <br> <button type="Submit" class="btn btn-info btn-md">Confirm Sales</button><br>
                    </form>
                </div>

            </div>
        </div>
    </div>
    
</body>
{% endblock %}